beautifulsoup4==4.9.3
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
commonmark==0.9.1
dictdiffer==0.8.1
idna==2.10
notion @ git+https://github.com/jamalex/notion-py.git@185a83541f78a57a25b43086846567dcce021d7c
notion2md @ git+https://github.com/Informapedia/notion2md@8aa360e4c4d99fa823e5246c1d3a4ec69c34fab0
python-slugify==4.0.1
pytz==2021.1
requests==2.25.1
soupsieve==2.2.1
text-unidecode==1.3
tzlocal==2.1
urllib3==1.26.4
